<header class="d-flex flex-column flex-md-row align-items-center
 justify-content-between pb-3 px-4 mb-4 bg-white border-bottom fixed-top shadow-sm">
 <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">
     

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 " 
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        >Shop</a>
        <a class="me-3 py-2 " routerLink="/contact" routerLinkActive="active">Contact</a>
        <a class="me-3 py-2 " routerLink="/profile" routerLinkActive="active">Profile</a>
      </nav>
      <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a routerLink="/account/login" class="btn btn-outline-secondary me-2">Login</a>
        <a routerLink="/account/register" class="btn btn-outline-secondary me-2">Sign up</a>

      </div>


  </header>